.buttonsContainer {
    display: flex;
    /* justify-content: center; */
    gap: 24px;
    margin: 16px 70px;
}

.editableSpanContainer {
    display: flex;
    align-items: center;
    margin: 16px 70px;
}